---
import "../css/theme.css";
import "../css/outreach.css";
import "@fortawesome/fontawesome-free/css/all.min.css";
import OutreachContent from "../components/outreach.jsx";
import all from "../outreach.json";
import Base from "../layouts/Base.astro";
const data = all.workshop;

import { Image } from "@astrojs/image/components";
import img1 from "../../public/outreach-images/1.jpg";
import img2 from "../../public/outreach-images/2.jpg";
import img3 from "../../public/outreach-images/3.jpg";
import img4 from "../../public/outreach-images/4.jpg";
import img5 from "../../public/outreach-images/5.jpg";
import img6 from "../../public/outreach-images/6.jpg";
import img7 from "../../public/outreach-images/7.jpg";
import img8 from "../../public/outreach-images/8.jpg";
import img9 from "../../public/outreach-images/9.jpg";
import img10 from "../../public/outreach-images/10.jpg";
import img11 from "../../public/outreach-images/11.jpg";
import img12 from "../../public/outreach-images/12.jpg";
import img13 from "../../public/outreach-images/13.jpg";
import img14 from "../../public/outreach-images/14.jpg";
import img15 from "../../public/outreach-images/15.jpg";
import img16 from "../../public/outreach-images/16.jpg";
import img17 from "../../public/outreach-images/17.jpg";
import img18 from "../../public/outreach-images/18.jpg";
import img19 from "../../public/outreach-images/19.jpg";
import img20 from "../../public/outreach-images/20.jpg";
import img21 from "../../public/outreach-images/21.jpg";
import img22 from "../../public/outreach-images/22.jpg";
import img23 from "../../public/outreach-images/23.jpg";
import img24 from "../../public/outreach-images/24.jpg";
import img25 from "../../public/outreach-images/25.jpg";
import img26 from "../../public/outreach-images/26.jpg";
import img27 from "../../public/outreach-images/27.jpg";
import img28 from "../../public/outreach-images/28.jpg";
import img29 from "../../public/outreach-images/29.jpg";
import img30 from "../../public/outreach-images/30.jpg";
import img31 from "../../public/outreach-images/31.jpg";
import img32 from "../../public/outreach-images/32.jpg";
---

<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-element-bundle.min.js"
></script>

<script>
  document.getElementById("outreach")!.classList.add("is-active");
  document.getElementById("outreach")!.classList.add("has-text-weight-bold");
</script>

<Base title="Outreach">
  <main style=" margin-bottom:2rem;">
    <p class="title has-text-white has-text-centered is-size-1 my-0 py-5">
      Outreach
    </p>

    <div
      class="tabs theme is-boxed is-toggle is-toggle-rounded is-centered is-large"
      style="overflow:visible;"
    >
      <ul>
        <li id="gal" class="is-active">
          <a class="white-black" href="#gallery" id="gallery">Gallery</a>
        </li>
        <li id="tabWorkshops">
          <div class="dropdown is-hoverable">
            <div class="dropdown-trigger link" id="w-trigger">
              <a class="white-black" aria-haspopup="true" aria-controls="dropdown-menu4" href="#workshops">
                <span id="markdown_display" data-category={data[0].url}
                  >Workshops</span
                >
              </a>
            </div>
            <div class="dropdown-menu" id="dropdown-menu4" role="menu">
              <div class="dropdown-content">
                {
                  data.map((c, i) => {
                    if (c.type == "markdown") {
                      return (
                        <div class="dropdown-item">
                          <a id="markdown_display" data-category={c.url} href={`#${c.fragment}`}>
                            {c.name}
                          </a>
                        </div>
                      );
                    }
                    return (
                      <div class="dropdown-item">
                        <a id="iframe" data-category={c.url} href={`#${c.fragment}`}>
                          {c.name}
                        </a>
                      </div>
                    );
                  })
                }
              </div>
            </div>
          </div>
        </li>
        <li id="tabNodalcenters">
          <div class="dropdown is-hoverable">
            <div class="dropdown-trigger link" id="w-trigger">
              <a class="white-black" aria-haspopup="true" href="#nodalCenters" aria-controls="dropdown-menu4">
                <span
                  id="markdown_display"
                  data-category={all.nodalcenters[0].url}>Nodal Centers</span
                >
              </a>
            </div>
            <div class="dropdown-menu" id="dropdown-menu4" role="menu">
              <div class="dropdown-content" style="">
                {
                  all.nodalcenters.map((c, i) => {
                    if (c.type == "markdown") {
                      return (
                        <div class="dropdown-item">
                          <a id="markdown_display" data-category={c.url} href={`#${c.fragment}`}>
                            {c.name}
                          </a>
                        </div>
                      );
                    }
                    return (
                      <div class="dropdown-item">
                        <a id="iframe" data-category={c.url} href={`#${c.fragment}`}>
                          {c.name}
                        </a>
                      </div>
                    );
                  })
                }
              </div>
            </div>
          </div>
        </li>
        <li id="faq"><a class="white-black" id="faq" href="#faq">FAQ</a></li>
        <li id="tm">
          <a class="white-black" 
            id="markdown_display"
            href="#testimonials"
            data-category={"https://raw.githubusercontent.com/virtual-labs/outreach-web-pages-iiith/main/testimonials/outreach-testimonials.md"}
          >
            Testimonials</a
          >
        </li>
        <li id="tabvideos">
          <div class="dropdown is-hoverable">
            <div class="dropdown-trigger link" id="w-trigger">
              <a class="white-black" aria-haspopup="true" href="#videos" aria-controls="dropdown-menu4">
                <span
                  id="markdown_display"
                  data-category={all.videos[0].url}>Videos</span
                >
              </a>
            </div>
            <div class="dropdown-menu" id="dropdown-menu4" role="menu">
              <div class="dropdown-content" style="">
                {
                  all.videos.map((c, i) => {
                    if (c.type == "markdown") {
                      return (
                        <div class="dropdown-item">
                          <a id="markdown_display" data-category={c.url} href={`#${c.fragment}`}>
                            {c.name}
                          </a>
                        </div>
                      );
                    }
                    return (
                      <div class="dropdown-item">
                        <a id="iframe" data-category={c.url} href={`#${c.fragment}`}>
                          {c.name}
                        </a>
                      </div>
                    );
                  })
                }
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div id="display-div" style="display: none">
      <OutreachContent client:only />
    </div>

    <div id="GAL" class="img_box gallery mt-6" style="display: block;">
      <div class="is-flex is-justify-content-center is-flex-wrap-wrap">
        <Image src={img1} alt={"Image 1"} class="gal-img" />
        <Image src={img2} alt={"Image 2"} class="gal-img" />
        <Image src={img3} alt={"Image 3"} class="gal-img" />
        <Image src={img4} alt={"Image 4"} class="gal-img" />
        <Image src={img5} alt={"Image 5"} class="gal-img" />
        <Image src={img6} alt={"Image 6"} class="gal-img" />
        <Image src={img7} alt={"Image 7"} class="gal-img" />
        <Image src={img8} alt={"Image 8"} class="gal-img" />
        <Image src={img9} alt={"Image 9"} class="gal-img" />
        <Image src={img10} alt={"Image 10"} class="gal-img" />
        <Image src={img11} alt={"Image 11"} class="gal-img" />
        <Image src={img12} alt={"Image 12"} class="gal-img" />
        <Image src={img13} alt={"Image 13"} class="gal-img" />
        <Image src={img14} alt={"Image 14"} class="gal-img" />
        <Image src={img15} alt={"Image 15"} class="gal-img" />
        <Image src={img16} alt={"Image 16"} class="gal-img" />
        <Image src={img17} alt={"Image 17"} class="gal-img" />
        <Image src={img18} alt={"Image 18"} class="gal-img" />
        <Image src={img19} alt={"Image 19"} class="gal-img" />
        <Image src={img20} alt={"Image 20"} class="gal-img" />
        <Image src={img21} alt={"Image 21"} class="gal-img" />
        <Image src={img22} alt={"Image 22"} class="gal-img" />
        <Image src={img23} alt={"Image 23"} class="gal-img" />
        <Image src={img24} alt={"Image 24"} class="gal-img" />
        <Image src={img25} alt={"Image 25"} class="gal-img" />
        <Image src={img26} alt={"Image 26"} class="gal-img" />
        <Image src={img27} alt={"Image 27"} class="gal-img" />
        <Image src={img28} alt={"Image 28"} class="gal-img" />
        <Image src={img29} alt={"Image 29"} class="gal-img" />
        <Image src={img30} alt={"Image 30"} class="gal-img" />
        <Image src={img31} alt={"Image 31"} class="gal-img" />
        <Image src={img32} alt={"Image 32"} class="gal-img" />
      </div>
      <div class="modal" id="ImageModal">
        <div class="modal-background modalclose"></div>
        <div class="modal-content is-flex is-flex-direction-row">
          <i
            class="fa-solid fa-caret-left fa-2x is-align-self-center"
            id="slider-left"
            style="z-index: 100; color: red"></i>
          <div class="image is-4by3 is-flex-grow-5">
            <img
              src="https://bulma.io/images/placeholders/1280x960.png"
              alt=""
              id="enlarged-image"
            />
          </div>
          <i
            class="fa-solid fa-caret-right fa-2x is-align-self-center"
            id="slider-right"
            style="z-index: 100; color: red"></i>
        </div>
        <button
          class="modal-close is-large modalclose"
          aria-label="close"
          id="modal-close"></button>
      </div>
    </div>
  </main>
</Base>
