---
import Base from "../layouts/Base.astro";
import {Outreach_devcontent, Devcontent} from "../components/Devcontent";
import "../css/theme.css";
import "../css/faq.css"
import Faqs from "../components/faqs";
// import Outreach_analytics from "../components/Outreach_analytics.astro"
import { Image} from '@astrojs/image/components';
import img1 from "../../public/outreach-images/1.jpg";
import img2 from "../../public/outreach-images/2.jpg";
import img3 from "../../public/outreach-images/3.jpg";
import img4 from "../../public/outreach-images/4.jpg";
import img5 from "../../public/outreach-images/5.jpg";
import img6 from "../../public/outreach-images/6.jpg";
import img7 from "../../public/outreach-images/7.jpg";
import img8 from "../../public/outreach-images/8.jpg";
import img9 from "../../public/outreach-images/9.jpg";
import img10 from "../../public/outreach-images/10.jpg";
import img11 from "../../public/outreach-images/11.jpg";
import img12 from "../../public/outreach-images/12.jpg";
import img13 from "../../public/outreach-images/13.jpg";
import img14 from "../../public/outreach-images/14.jpg";
import img15 from "../../public/outreach-images/15.jpg";
import img16 from "../../public/outreach-images/16.jpg";
import img17 from "../../public/outreach-images/17.jpg";
import img18 from "../../public/outreach-images/18.jpg";
import img19 from "../../public/outreach-images/19.jpg";
import img20 from "../../public/outreach-images/20.jpg";
import img21 from "../../public/outreach-images/21.jpg";
import img22 from "../../public/outreach-images/22.jpg";
import img23 from "../../public/outreach-images/23.jpg";
import img24 from "../../public/outreach-images/24.jpg";
import img25 from "../../public/outreach-images/25.jpg";
import img26 from "../../public/outreach-images/26.jpg";
import img27 from "../../public/outreach-images/27.jpg";
import img28 from "../../public/outreach-images/28.jpg";
import img29 from "../../public/outreach-images/29.jpg";
import img30 from "../../public/outreach-images/30.jpg";
import img31 from "../../public/outreach-images/31.jpg";
import img32 from "../../public/outreach-images/32.jpg";

// import Workshops_dropdown from "../components/Workshops_dropdown";

import all from "../outreach.json";
const data = all.workshop;

// export function getStaticPaths() {
//   return [
//     {params: {tab: undefined}},
//     {params: {tab: 'gallery'}},
//     {params: {tab: 'request-a-workshop'}},
//     {params: {tab: 'become-a-nodalcenter'}},
//     {params: {tab: 'workshop-analytics'}},
//     {params: {tab: 'nodalcenter-analytics'}},
//     {params: {tab: 'faq'}}
//   ];
// }

// const {tab} = Astro.params;
// document.getElementById("gallery")!.style.display = "none";
---

<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-element-bundle.min.js"
></script>

<script>
  document.getElementById("outreach")!.classList.add("is-active");
  document.getElementById("outreach")!.classList.add("has-text-weight-bold");
</script>


<script> // toggling between tabs
  const nc = document.getElementById("tabNodalcenters"); // nodal centers
  const NAN = document.getElementById("NAN");
  const wo = document.getElementById("tabWorkshops"); // workshop organised
  const WAN = document.getElementById("WAN");
  const rw = document.getElementById("rw"); // request workshop
  const RW = document.getElementById("RW");
  const faq = document.getElementById("faq"); // faqs
  const FAQ = document.getElementById("FAQ");
  const gal = document.getElementById("gal"); // gallery
  const GAL = document.getElementById("GAL");
  const bn = document.getElementById("bn"); // become a nodal center
  const BN = document.getElementById("BN");
  const tab_w = document.getElementById("tab-workshop-link");
  const tab_n = document.getElementById("tab-nodalcenter-link");
  const tm = document.getElementById("tm"); // outreach testimonials
  const TM = document.getElementById("TM");

  // const {tab} = Astro.params;
  // console.log(tab);
  
  // document.location.href.includes("workshops")
  if(document.location.href.includes("workshops"))
  {
    WAN!.style.display = "block";
    wo!.classList.add("is-active");
    RW!.style.display = "none";
    document.getElementById("workshop_iframe")!.style.display = "block";
  }
  else if(document.location.href.includes("nodalcenters"))
  {
    NAN!.style.display = "block";
    nc!.classList.add("is-active");
    BN!.style.display = "none";
    document.getElementById("nodal_iframe")!.style.display = "block";
  }
  else if(document.location.href.includes("request-workshop"))
  {
    WAN!.style.display = "block";
    wo!.classList.add("is-active");
  }
  else if(document.location.href.includes("become-a-nodalcenter"))
  {
    NAN!.style.display = "block";
    nc!.classList.add("is-active");
  }
  else if(document.location.href.includes("FAQ"))
  {
    FAQ!.style.display = "block";
    faq!.classList.add("is-active");
  }
  else if(document.location.href.includes("testimonials"))
  {
    TM!.style.display = "block";
    tm!.classList.add("is-active");
  }
  else
  {
    GAL!.style.display = "block";
    gal!.classList.add("is-active");
  }

  nc!.addEventListener("click", (event) => {
    NAN!.style.display = "block";
    WAN!.style.display = "none";
    RW!.style.display = "none";
    GAL!.style.display = "none";
    FAQ!.style.display = "none";
    TM!.style.display = "none";
    tm!.classList.remove("is-active");
    wo!.classList.remove("is-active");
    // rw!.classList.remove("is-active");
    faq!.classList.remove("is-active");
    gal!.classList.remove("is-active");
    nc!.classList.add("is-active");
  });
  wo!.addEventListener("click", (event) => {
    WAN!.style.display = "block";
    NAN!.style.display = "none";
    // RW!.style.display = "block";
    GAL!.style.display = "none";
    FAQ!.style.display = "none";
    TM!.style.display = "none";
    tm!.classList.remove("is-active");
    nc!.classList.remove("is-active");
    // rw!.classList.remove("is-active");
    faq!.classList.remove("is-active");
    gal!.classList.remove("is-active");
    wo!.classList.add("is-active");
  });
  rw!.addEventListener("click", (event) => {
    RW!.style.display = "block";
    WAN!.style.display = "block";
    NAN!.style.display = "none";
    GAL!.style.display = "none";
    FAQ!.style.display = "none";
    TM!.style.display = "none";
    tm!.classList.remove("is-active");
    wo!.classList.add("is-active");
    nc!.classList.remove("is-active");
    faq!.classList.remove("is-active");
    gal!.classList.remove("is-active");
    document.getElementById("workshop_iframe")!.style.display = "none";
    // rw!.classList.add("is-active");
  });
  bn!.addEventListener("click", (event) => {
    BN!.style.display = "block";
    NAN!.style.display = "block";
    WAN!.style.display = "none";
    GAL!.style.display = "none";
    FAQ!.style.display = "none";
    TM!.style.display = "none";
    tm!.classList.remove("is-active");
    wo!.classList.remove("is-active");
    nc!.classList.add("is-active");
    faq!.classList.remove("is-active");
    gal!.classList.remove("is-active");
    document.getElementById("nodal_iframe")!.style.display = "none";
  });
  faq!.addEventListener("click", (event) => {
    FAQ!.style.display = "block";
    WAN!.style.display = "none";
    RW!.style.display = "none";
    GAL!.style.display = "none";
    NAN!.style.display = "none";
    TM!.style.display = "none";
    tm!.classList.remove("is-active");
    wo!.classList.remove("is-active");
    // rw!.classList.remove("is-active");
    nc!.classList.remove("is-active");
    gal!.classList.remove("is-active");
    faq!.classList.add("is-active");
  });
  gal!.addEventListener("click", (event) => {
    GAL!.style.display = "block";
    FAQ!.style.display = "none";
    WAN!.style.display = "none";
    RW!.style.display = "none";
    NAN!.style.display = "none";
    TM!.style.display = "none";
    tm!.classList.remove("is-active");
    wo!.classList.remove("is-active");
    // rw!.classList.remove("is-active");
    nc!.classList.remove("is-active");
    faq!.classList.remove("is-active");
    gal!.classList.add("is-active");
  });
  tm!.addEventListener("click", (event) => {
    GAL!.style.display = "none";
    FAQ!.style.display = "none";
    WAN!.style.display = "none";
    RW!.style.display = "none";
    NAN!.style.display = "none";
    TM!.style.display = "block";
    tm!.classList.add("is-active");
    wo!.classList.remove("is-active");
    // rw!.classList.remove("is-active");
    nc!.classList.remove("is-active");
    faq!.classList.remove("is-active");
    gal!.classList.remove("is-active");
  });
  tab_w!.addEventListener("click", (event) => {
    console.log("yo");
    RW!.style.display = "block";
    document.getElementById("workshop_iframe")!.style.display = "none";
  })
  tab_n!.addEventListener("click", (event) => {
    BN!.style.display = "block";
    document.getElementById("nodal_iframe")!.style.display = "none";
  })
</script>

<script> // fetching images
  try{
  const response = await fetch(
    "https://api.github.com/repos/virtual-labs/outreach-web-pages-iiith/contents/photographs"
  );
  const data = await response.json();
  // const imageContainer = document.getElementById("swip-cont");
  const grid = document.getElementById("grid-gallery");
  var i = 0;
  for (let file of data) {
    // check if the file is an image
    console.log(file)
    if (file.type === "file" && file.name.match(/\.(jpg|jpeg|png|gif)$/)) {
        console.log(i)
        const img = document.createElement("Image");
        console.log(grid)
        grid!.appendChild(img)
    }
    i++
  }
  for (const file of data) {
    if (i != 0) {
      if (file.type === "file" && file.name.match(/\.(jpg|jpeg|png|gif)$/)) {
        // check if the file is an image
        const swip = document.createElement("swiper-slide");
        const div = document.createElement("div");
        const img = document.createElement("img");
        img.src = file.url;
        img.loading = "lazy";
        img.style.border="7px solid #fff";
        img.style.borderRadius="3px";
        img.alt = "Image could not be displayed";
        img.style.height = "360px";
        img.style.width = "240px";
        div.appendChild(img);
        swip.appendChild(div);
        // imageContainer.appendChild(swip);
        grid!.appendChild(div);
      }
    }
    else
    {
      if (file.type === "file" && file.name.match(/\.(jpg|jpeg|png|gif)$/)) {
        const first_img = document.getElementById("first_img")
        first_img!.src = file.download_url;
        first_img!.style.border="7px solid #fff";
        first_img!.style.borderRadius="3px";
        first_img!.style.height = "360px";
        first_img!.style.width = "240px";
      }
    }
    i++;
  }
  }
  catch(error){
    // console.error(error)
  }
</script>

<!-- <script> // dropdown content
  import all from "../../src/outreach.json";
  const data = all.workshop;
  console.log(data);

  for(let i=0; i<data.length; i++)
  {
    document.getElementById("Wi"+i)!.addEventListener("click", ()=>{
      // for(let j=0; j<data.length; j++)
      // {
      //   document.getElementById("Wi"+j).classList.remove("is-active"); 
      // }
      // document.getElementById("Wi"+i).classList.add("is-active"); 
      document.getElementById("outreach_iframe")!.src = data[i].url;
    }); 
  }
  // const select = (c, len, x) => {
  //     document.getElementById("outreach_iframe").src = c.url;
  //     for(let i=0; i<len; i++)
  //     {
  //       document.getElementById("Wi"+i).classList.remove("is-active"); 
  //     }
  //     document.getElementById("Wi"+x).classList.add("is-active"); 
  //   }

</script> -->

<script>  // iframe selection

  import all from "../../src/outreach.json";

  for (let i = 0; i < all.workshop.length; i++) {

    if( all.workshop[i].type=="markdown" )
      continue;

    const e = document.getElementById("Wi" + i)!;
    e.classList.remove("is-active");
    
    e.addEventListener("click", () => {
      console.log("ihi");
      document.getElementById("RW")!.style.display = "none";
      document.getElementById("workshop_iframe")!.style.display = "block";
      document.getElementById("workshop_iframe")!.src = all.workshop[i].url;
      e.classList.add("is-active");
    });
    
  }
  // const e = document.getElementById("rw")!;
  //   e.classList.remove("is-active");
    
  //   e.addEventListener("click", () => {
  //     // document.getElementById("workshop_iframe")!.src = all.workshop[i].url;
  //     e.classList.add("is-active");
  //     // document.getElementById("RW")!.style.display = "block";
  //     // document.getElementById("workshop_iframe")!.style.display = "none";
  //     for (let i = 0; i < all.workshop.length; i++) 
  //     {
  //       const e = document.getElementById("Wi" + i)!;
  //       e.classList.remove("is-active");
  //     }

  //   });

  for (let i = 0; i < all.nodalcenters.length; i++) {

    if( all.nodalcenters[i].type=="markdown" )
      continue;

    const e = document.getElementById("Ni" + i)!;
    e.classList.remove("is-active");

    e.addEventListener("click", () => {
      document.getElementById("BN")!.style.display = "none";
      document.getElementById("nodal_iframe")!.style.display = "block";
      document.getElementById("nodal_iframe")!.src = all.nodalcenters[i].url;
      e.classList.add("is-active");
    });
  }
</script>

<style>
  link {
    color: var(--black);
  }
  link.dark {
    color: var(--white);
  }
  #workshop_iframe{
    display:none;
  }
  #nodal_iframe{
    display:none;
  }
  #RW{
    display:block;
  }
  #BN{
    display:block;
  }
  #GAL{
    display:none;
  }
  .Nodal_Centers {
    color: black;
    margin-top: 2%;
    text-align: center;
  }
  .workshops {
    margin-top: 2%;
    display: none;
    text-align: center;
  }
  .tabs.is-toggle li.is-active a{
    background-color: var(--white) !important;
    color: black !important;
    border-color: #dbdbdb !important;
  }
  .dropdown-content{
    /* background-color: rgb(60, 59, 59) !important;*/
    padding-bottom: 0% !important;
    padding-top: 0% !important;
  }
  .dropdown-item{
    padding:0%;
    /* font-size: large; */
    /* color: black !important; */
  }
  .tabs a{
    padding: 0.8rem;
  }
  .tabs {
    /* margin-top: 24px; */
  }
  .tabs .dropdown-trigger a{
    color: white;
    font-weight: 500;
    /* font-size: larger; */
  }
  .tabs .dropdown-trigger a:hover{
    color:black;
  }
  .hidden_ {
    display: none;
    background-color: black;
  }
  .workshops_md_file {
    margin: 0px;
    background-color: white;
    color: black;
    border: 2px solid black;
    width: 95%;
    margin: auto;
    margin-top: 2%;
    overflow-y: scroll;
    height: 90rem;
    display: none;
    border-radius: 1rem;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
  }
  .workshops_faq {
    width: 95%;
    margin: auto;
    margin-top: 2%;
    color: black;
    background-color: #fff;
    display: none;
    /* overflow-y: scroll; */
    /* height: 90rem; */
    display: none;
    border-radius: 1rem;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
  }
  .workshop_analytics {
    display: none;
  }
  .nodal_analytics {
    display:none;
  }
  .gal-img{
    margin:0.3rem;
    border: 6px solid #f3f3f3f4;
    border-radius: 8px;
    height: auto;
    width:450px;
  }
</style>

<Base title="Outreach">
  <main style=" margin-bottom:2rem;">
    <p class="title has-text-white has-text-centered is-size-1 my-0 py-5">Outreach</p>
    
    <div class="tabs theme is-boxed is-toggle is-toggle-rounded is-centered is-large" style="overflow:visible;">
      <ul>
        <li id="gal" class="link dropdown-trigger"><a href="#gallery">Gallery</a></li>
        <li id="tabWorkshops" class="link">
          <div class="dropdown is-hoverable">
            <div class="dropdown-trigger link" id="w-trigger">
              <a aria-haspopup="true" aria-controls="dropdown-menu4" href="#request-workshop" id="tab-workshop-link">
                <span>Workshops</span>
              </a>
            </div>
            <div class="dropdown-menu" id="dropdown-menu4" role="menu">
              <div class="dropdown-content">
                {data.map((c,i)=>{
                  if(c.type == "markdown")
                  {
                    return(
                        <div class="dropdown-item">
                            <a id="rw" href="#request-workshop">
                              {c.name}
                            </a>
                        </div>
                    );
                  }
                    return(
                        <div class="dropdown-item">
                            <a id={"Wi"+i} href="#workshops">
                              {c.name}
                            </a>
                        </div>
                    );
                })}
              </div>
            </div>
          </div>
        </li>
        <li id="tabNodalcenters" class="link">
          <div class="dropdown is-hoverable">
            <div class="dropdown-trigger link" id="w-trigger">
              <a aria-haspopup="true" aria-controls="dropdown-menu4" href="#become-a-nodalcenter" id="tab-nodalcenter-link" >
                <span>Nodal Centers</span>
              </a>
            </div>
            <div class="dropdown-menu" id="dropdown-menu4" role="menu">
              <div class="dropdown-content" style="">
                {all.nodalcenters.map((c,i)=>{
                  if(c.type == "markdown")
                  {
                    return(
                        <div class="dropdown-item">
                            <a id="bn" href="#become-a-nodalcenter">
                              {c.name}
                            </a>
                        </div>
                    );
                  }
                    return(
                        <div class="dropdown-item">
                            <a id={"Ni"+i} href="#nodalcenters">
                              {c.name}
                            </a>
                        </div>
                    );
                })}
              </div>
            </div>
          </div>
        </li>
        <li id="faq" class="link dropdown-trigger"><a href="#FAQ">FAQ</a></li>
        <li id="tm" class="link dropdown-trigger"><a href="#testimonials">Testimonials</a></li>
        
      </ul>
    </div>
    
    <div id="WAN" class="workshop_analytics " style="height:100vh">
        
      <iframe
        id="workshop_iframe"
        width="100%"
        height="100%"
        src="https://lookerstudio.google.com/embed/reporting/fe857f7b-f2b6-43a3-8709-243280ca1448/page/5fLPB"
        allowfullscreen>
      </iframe>
      
      <div id="RW" class="workshops_md_file mt-6 mx-auto" style="height:100vh">
        <Outreach_devcontent page={"workshop"}  client:only />
      </div>
    </div>

    <div id="NAN" class="nodal_analytics " style="height:100vh">
          <iframe
            id="nodal_iframe"
            width="100%"
            height="100%"
            src="https://lookerstudio.google.com/embed/reporting/fe857f7b-f2b6-43a3-8709-243280ca1448/page/p_q6mz96i75c"
            allowfullscreen></iframe>
        <div id="BN" class="workshops_md_file mt-6 mx-auto" style="height:100vh">
          <Outreach_devcontent page="https://raw.githubusercontent.com/virtual-labs/outreach-web-pages-iiith/main/nodal-centre-process/nodal-centre-process.md"  client:only />
        </div>
    </div>
    
    

    <div id="FAQ" class="workshops_faq mt-6 mx-auto">
      <p class="title has-text-black has-text-centered is-size-2 my-0 py-5">Frequently Asked Questions</p>
      <Faqs type="outreach" client:only/>
    </div>

    <div id="TM" class="workshops_md_file mt-6 mx-auto" style="height:100vh">
      <Outreach_devcontent page="https://raw.githubusercontent.com/virtual-labs/outreach-web-pages-iiith/main/testimonials/outreach-testimonials.md" client:only />
    </div>

    <div class="img_box gallery mt-6" id="GAL">
      <!-- <swiper-container
        class="mySwiper p-6"
        navigation="true"
        effect="coverflow"
        space-between="30"
        space-end="300"
        centered-slides="true"
        autoplay-delay="5500"
        speed="1000"
        slides-per-view="3"
        autoplay-disable-on-interaction="false"
        loop="true"
        id="swip-cont"
      >
        <swiper-slide
          ><div>
            <img id="first_img"
              src=""
              alt="Image could not be displayed :/"
            />
          </div></swiper-slide>
      </swiper-container> -->
      <!-- <div id="grid-gallery " class="is-flex is-justify-content-center is-flex-wrap-wrap" >
        <Image src={img1} alt={"Image 1"}  class="gal-img "/>
        <Image src={img2} alt={"Image 2"}  class="gal-img "/>
        <Image src={img3} alt={"Image 3"}  class="gal-img "/>
        <Image src={img4} alt={"Image 4"}  class="gal-img "/>
        <Image src={img5} alt={"Image 5"}  class="gal-img "/>
        <Image src={img6} alt={"Image 6"}  class="gal-img "/>
        <Image src={img7} alt={"Image 7"}  class="gal-img "/>
        <Image src={img8} alt={"Image 8"}  class="gal-img "/>
        <Image src={img9} alt={"Image 9"}  class="gal-img "/>
        <Image src={img10} alt={"Image 10"}  class="gal-img " />
        <Image src={img11} alt={"Image 11"}  class="gal-img " />
        <Image src={img12} alt={"Image 12"}  class="gal-img " />
        <Image src={img13} alt={"Image 13"}  class="gal-img " />
        <Image src={img14} alt={"Image 14"}  class="gal-img " />
        <Image src={img15} alt={"Image 15"}  class="gal-img " />
        <Image src={img16} alt={"Image 16"}  class="gal-img " />
        <Image src={img17} alt={"Image 17"}  class="gal-img " />
        <Image src={img18} alt={"Image 18"}  class="gal-img " />
        <Image src={img19} alt={"Image 19"}  class="gal-img " />
        <Image src={img20} alt={"Image 20"}  class="gal-img " />
        <Image src={img21} alt={"Image 21"}  class="gal-img " />
        <Image src={img22} alt={"Image 22"}  class="gal-img " />
        <Image src={img23} alt={"Image 23"}  class="gal-img " />
        <Image src={img24} alt={"Image 24"}  class="gal-img " />
        <Image src={img25} alt={"Image 25"}  class="gal-img " />
        <Image src={img26} alt={"Image 26"}  class="gal-img " />
        <Image src={img27} alt={"Image 27"}  class="gal-img " />
        <Image src={img28} alt={"Image 28"}  class="gal-img " />
        <Image src={img29} alt={"Image 29"}  class="gal-img " />
        <Image src={img30} alt={"Image 30"}  class="gal-img " />
        <Image src={img31} alt={"Image 31"}  class="gal-img " />
        <Image src={img32} alt={"Image 32"}  class="gal-img " />
      </div>-->
      <div id="grid-gallery" class="is-flex is-justify-content-center is-flex-wrap-wrap" >
      </div>
    </div>

  </main>
</Base>