---
import all from "../footer_data.json";
import '@fortawesome/fontawesome-free/css/all.min.css'; // Ensuring the fontawesome import
---

<!-- <hr class="mb-1" /> -->
<div class=" footer-class has-text-white has-background-black" >
<div class="columns is-mobile ">
  <div class="column px-5">
    <p class="is-size-4 has-text-centered py-0">Address</p>
    <hr class="my-1 m-auto" style="width: 75%; " />
    <p class="is-size-6 py-3 has-text-centered">
      {all.address}
    </p>
  </div>
  <div class="column px-5">
    <p class="is-size-4 has-text-centered py-0">Contact</p>
    <hr class="my-1 m-auto" style="width: 75%; " />
    <p class="is-size-6 py-3 has-text-centered">
      General Information : {all.contact.General_Information}<br />
      Development/Outreach : {all.contact.DevelopmentandOutreach}<br />
      Email: {all.contact.Email}
    </p>
  </div>
  <div class="column px-5">
    <p class="is-size-4 has-text-centered py-0">Follow Us</p>
    <hr class="my-1 m-auto" style="width: 75%; " />
    <div class="is-flex is-justify-content-space-evenly py-5">
      {
        all.Follow.map((item) => {
          const backgroundColors = {
            twitter: '#55acee',
            facebook: '#3b5998',
            youtube: '#e52d27',
            linkedin: '#2867B2',
            instagram: '#E1306C'
          };
          return (
            <a class="p-2 mt-1 mr-2 d-inline-flex justify-content-center align-items-center" style={{ background: backgroundColors[item.social.toLowerCase()], borderRadius: '50%', width: '40px', height: '40px' }} href={item.link}>
              <i className={`fab fa-${item.social.toLowerCase()} fa-lg`} style={{ color: 'white' }}></i> <!-- Adjusted size using Font Awesome size class -->
            </a>
          );
        })
      }
    </div>
  </div>
</div>
<!-- <div class="column px-5">
  <p class="is-size-4 has-text-centered py-0">About Us</p>
  <hr class="my-1 m-auto" style="width: 75%; " />
  <p class="is-size-6 py-3 has-text-centered">
    {all.aboutus}
  </p>
</div> -->
</div>
<style>
  h3 {
    margin-bottom: 0%;
  }
  .footer {
    /* background-color: ; */
    /* background-color: rgb(35, 4, 52); */
    padding-left: 2rem;
    padding-right: 2rem;
    /* width: 100%; */
  }
  .footer-heading {
    width: 100%;
  }
  .row {
    text-align: center;
  }
  .footer-class {
    background-color: var(--footer);
    color: var(--white);
    /* margin: 0rem; */
  }
</style>
